// Create helpers.
// @param  {Map} $breakpoints
@mixin helpers($breakpoints, $columns, $gutters) {

    @each $breakpoint, $value in $breakpoints {
        @include align($breakpoint);
    }
}

// Render alignment helpers.
// @param  {Integer} $breakpoint
@mixin align($breakpoint) {

    $class: '';
    
    $viewport: false;

    @if map-has-key($breakpoints, $breakpoint) {
        $viewport: map-get($breakpoints, $breakpoint);
    }

    @else {
        @warn "The breakpoint `#{$breakpoint}` is not in the `$breakpoints` map."
    }

    @if $viewport {
        $class: break-#{$breakpoint}-;
    }

    .#{$class}center {
        @include break($viewport) { 
            align-items: center;
            justify-content: center;
        };
    }

    .#{$class}space-between {
        @include break($viewport) { justify-content: space-between };
    }

    .#{$class}space-around {
        @include break($viewport) { justify-content: space-around };
    }
}